<div class="rt-site-footer">
    <div class="footer-top">
        <div class="rt-container">
            <div class="row">
               <div class="col-lg-3 col-md-6 text-center text-md-left">
                   <div class="rt-single-widget">
                        <ul class="footer-social rt-list">
                            <li class="d-inline-block"><a href="#"><i class="icofont-instagram"></i></a></li>
                            <li class="d-inline-block"><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li class="d-inline-block"><a href="#"><i class="icofont-facebook"></i></a></li>
                        </ul><!-- /.footer-social -->
                   </div><!-- /.rt-single-widget -->
               </div><!-- /.col-lg-3 -->
               <div class="col-lg-6 col-md-10 mx-md-auto">
                    <div class="rt-single-widget text-center">
                        <span class="d-block rt-mb-10 email-icon"><i class="flaticon-email"></i></span>
                        <h3 class="rt-footer-title">Newsletter Signup</h3>
                        <p>Join our list and get 15% off your first purchase!</p>
                        <form action="#" class="footer-subscribe rt-pt-30">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Email Address">
                                <div class="input-group-append">
                                  <button class="btn rt-primary" type="button"><i class="flaticon-right-arrow"></i></button>
                                </div>
                            </div>
                        </form><!-- /.footer-subscribe -->
                    </div><!-- /.rt-single-widget -->
               </div><!-- /.col-md-6 -->
               <div class="col-lg-3 col-md-6">
                   <div class="rt-single-widget text-md-right text-center">
                       <a href="#"><img src="assets/images/all-img/cart-1.png" alt=""></a>
                       <a href="#"><img src="assets/images/all-img/cart-2.png" alt=""></a>
                       <a href="#"><img src="assets/images/all-img/cart-3.png" alt=""></a>
                   </div><!-- /.rt-single-widget -->
               </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->
    <div class="footer-bottom">
        <div class="rt-container">
            <div class="row">
                <div class="col-12 text-center">
                    <ul class="footer-menu rt-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Collections</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">About Us </a></li>
                        <li><a href="#">Elements</a></li>                                
                    </ul><!-- /.footer-menu -->
                    <div class="copy-text rt-pt-40">
                        <p>&copy; 2020 Bdthemes. All rights reserved.</p>
                    </div><!-- /.copy-text -->
                </div><!-- /.col-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-bottom -->
</div><!-- /.rt-site-footer -->