<div class="rt-site-footer  home-two" style="background-image: url(assets/images/all-img/footerbg.png);">
    <div class="footer-top">
        <div class="rt-container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 mx-auto">
                    <div class="rt-single-widget text-center">
                        <span class="d-block rt-mb-10 email-icon"></span>
                        <h3 class="rt-footer-title">Newsletter Signup</h3>
                        <p>Join our list and get 15% off your first purchase!</p>
                        <form action="#" class="footer-subscribe2 rt-pt-30 rt-mb-60">
                            <input type="email" class="form-control" placeholder="Email Address">
                            <button class="rt-btn  rt-primary multipule-color-strep" type="button">Subscribe</button>
                        </form><!-- /.footer-subscribe -->
                    </div><!-- /.rt-single-widget -->
                    <ul class="footer-menu rt-list text-center">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Collections</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">About Us </a></li>
                        <li><a href="#">Elements</a></li>                                
                    </ul><!-- /.footer-menu -->
                </div><!-- /.col-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->
    <div class="footer-bottom">
        <div class="rt-container">
            <div class="row no-gutters">
                <div class="col-lg-6 text-center text-lg-left mb-md-5 copy-text">
                <span> &copy; 2019 Dotpixsel. All rights reserved.</span>
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="rt-footer-social">
                        <ul class="rt-list"> 
                            <li class="d-inline-block"><span>Connect with us</span></li>
                            <li class="d-inline-block"><a href="#"><i class="icofont-instagram"></i></a></li>
                            <li class="d-inline-block"><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li class="d-inline-block"><a href="#"><i class="icofont-facebook"></i></a></li>
                        </ul>
                    </div><!-- /.rt-footer-social -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
</div><!-- /.rt-site-footer -->