<header class="rt-site-header rt-sticky">
    <div class="top-header d-none d-md-block">
        <div class="custom-header-container container-fluid">
            <div class="row no-gutters">
                <div class="col-lg-6 text-center text-lg-left">
                    1st Time Buyer? Use ONE promocode to instantly get 10% OFF!
                </div><!-- /.col-md-6 -->
                <div class="col-lg-6 text-center text-lg-right">
                    <a href="tel:2223456888">Call us : (+12) 222 3456 888</a>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div><!-- /.top-header -->
    <div class="main-header">
        <div class="navbar">
            <div class="custom-header-container container-fluid">
                <a href="index.html" class="brand-logo"><img src="assets/images/logo/logo.png" alt="logo_image"></a>
                <div class="ml-auto d-flex align-items-center">
                    <div class="main-menu">
                        <span class="rt-mobile-menu-close"><i class="flaticon-cancel"></i></span><!-- /.rt-mobile-menu-close -->
                        <ul>
                            <li class="current-menu-item menu-item-has-children"><a href="#">home</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">home one</a></li>
                                    <li><a href="index2.html">home Two</a></li>
                                </ul><!-- /.sub-menu -->
                            </li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Collections</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">About Us </a></li>
                            <li><a href="#">Elements</a></li>                                    
                        </ul>
                    </div><!-- /.main-menu -->
                    <div class="rt-nav-tolls d-flex align-items-center">
                        <div class="mobile-menu order-last"><span class="menu-click"><i class="flaticon-menu-3"></i></span></div><!-- /.mobile-menu -->
                        <span class="rt-search-open"><a href="javascript:void(0);"><i class="flaticon-search"></i></a></span>
                        <span class="open-user-ac"><a href="javascript:void(0);"><i class="flaticon-user"></i></a>
                            <span class="user-ac">
                                <a href="#">account</a>
                                <a href="#">logout</a>
                            </span><!-- /.user-ac -->
                        </span>
                        <span class="d-inline  open-cart-opt"><a href="javascript:void(0);"><i class="flaticon-shopping-bag"></i></a></span>
                    </div><!-- /.rt-nav-tolls -->
                </div><!-- /.ml-auto -->
            </div><!-- /.container -->
        </div><!-- /.navbar -->
    </div><!-- /.main-header -->
</header>