.single-rt-banner {
    position: relative;
    .product-image {
        position: absolute;
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
    }
    .rt-banner-content {
        padding-left: 70px;
        h1 {
            font-size: 74px;
            font-weight: 600;
            margin: 0 0 20px;
        }
        p {
            margin: 0 0 30px;
            font-size: 25px;
            line-height: 40px;
            &:last-child {
                margin: 0 0 0;
            }
        }
        .rt-btn {
            padding: 16px 54px;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.rt-banner-area {
    position: relative;
    @extend .custom-header-container;
    .numbercount {
        position: absolute;
        right: 120px;
        bottom: 150px;
        @include hw(118px);
        color: #fff;
        text-align: center;
        font-size: 25px;
        z-index: 4;
        @extend .sp-bg;
       
    }
}

.rt-banner-height {
    height: 885px;
}

.rt-slider-active {
    .slick-next,
    .slick-prev {
        position: absolute;
        left: 0px;
        text-align: center;
        color: #000;
        z-index: 66;
        cursor: pointer;
        background-color: #fff;
        box-shadow: 0px 11px 29px 0px rgba(64, 65, 91, 0.11);
        border-radius: 50%;
        @include hw(50px);
        top: 50%;
        transform: translateX(-50%);
        opacity: 1;
        @include rt-trs(0.2s);
        &::before {
            color: #000;
            font-family: "icofont";
            opacity: 1;
            font-size: 25px;
            @include rt-trs(0.2s);
            line-height: 50px;
            @include breakpoint(xs) {
                font-size: 16px;
                line-height: 35px;
            }
        }
        @include breakpoint(xs) {
            @include hw(35px);
        }
        &:hover {
            background-color: $primary-color;
            &::before {
                opacity: 1;
                color: #fff;
            }
        }
    }
    .slick-prev {
        &::before {
            content: '\ea9d';
        }
    }
    .slick-next {
        left: auto;
        right: 0px;
        &::before {
            content: '\eaa0';
        }
    }
    .slick-dots {
        text-align: right;
        bottom: 73px;
        right: 112px;
    }
    .slick-dots li button::before {
        color: rgb(247, 126, 83);
        font-size: 40px;
        opacity: 0.2;
    }
    .slick-dots li.slick-active button::before {
        opacity: 1
    }
}

  