.cta-inner{
    background-color: #fff1eb;
    padding-bottom: 70px;
    padding-top: 100px;
    padding-left: 90px;
    padding-right: 90px;
    h4{
        font-size: 40px;
        color: #101130;
        font-weight: 700;
        @include breakpoint(lg){
            font-size: 28px;
        }
    }
    .cta-logo{
        position: absolute;
        left: 90px;
        top: 90px;
        @include breakpoint(md){
            position: static;
            margin-bottom: 30px;
        }
    }
}