// global
.rt-single-icon-box {
    display: flex;
    @include afterparent();
    align-items: start;
    @include rt-trs(0.24s);
    .icon-thumb {
        flex: 0 0 auto;
        //height: 58px
        //margin-right: 30px
        img {
            @include rt-trs(0.24s);
        }
    }
    &.icon-center {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &.rt-xs-center {
        @include breakpoint(xs) {
            flex-direction: column;
        }
    }
    .iconbox-content {
        width: 100%;
        h4 {
            a {
                color: $body-font-colr;
            }
        }
    }
    &.plain-list-1 {
        background-color: transparent;
        border-bottom: 1px solid rgb(240, 240, 240);
        &:last-child {
            border: none;
        }
    }
    &.rt-align-center {
        align-items: center;
    }
    &.bg-transparent {
        background-color: transparent;
    }
    &.shdoaw-style {
        box-shadow: 0px 18px 65px 0px rgba(153, 153, 159, 0.2);
        background-color: #fff;
    }
    &:hover {
        &.shdoaw-style {
            box-shadow: 0px 18px 45px 0px rgba(153, 153, 159, 0.2);
            transform: translateY(-10px);
        }
    }
}


// feature product 
.rt-single-icon-box{
    &.featre-product{
        background-color: #f7f7f7;
        min-height: 351px;
        padding-left: 50px;
        justify-content: flex-end;
        @include breakpoint(md){
            padding-top: 50px;
            margin-bottom: 30px;
        }
        .icon-thumb{
            position: absolute;
            right: 30px;
            top: 75px;
            @include breakpoint(md){
                position: static;
            }
            @include breakpoint(lg){
                img{
                    height: 211px;
                }
            }
        }
        .iconbox-content{
            padding-bottom: 58px;
            .badge-1, .badge-2{
                margin-bottom: 37px;
            }
            
            h4{
                font-size: 25px;
                text-transform: capitalize;
                margin: 0 0 15px;
                a{
                    color: #000;
                }
            }
            p{
                font-size: 15px;
                color: #888888;
                margin: 0 0 0;
            }
        }
    }
}

.badge-1, .badge-2, .badge-3,.badge-4{
    @include hw(58px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.badge-1{
    background-image: url(../images/all-img/sp2.png);
}
.badge-2{
    background-image: url(../images/all-img/sp3.png);
}
.badge-3{
    background-color: #fc4a1a;
    border-radius: 50%;
}
.badge-4{
    background-color: #079e40;
    border-radius: 50%;
}