<section class="arival-product home-two rt-pt-100">
    <div class="rt-container">
        <div class="row align-content-center">
            <div class="col-12">
                <h2 class="rt-section-title font-circular">New Arrivals</h2>
                <div class="rt-spacer-20"></div><!-- /.rt-space-30 -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="catagory-active">
                    <div class="single-product-item">
                        <div class="rt-single-icon-box icon-center main-product">
                            <a class="icon-thumb" href="#">
                                <img src="assets/images/all-img/p-2.png" alt="" class="front-image">
                                <img src="assets/images/all-img/pc-1.png" alt="" class="back-image">
                            </a><!-- /.icon-thumb -->
                            <div class="iconbox-content  d-flex justify-content-between">
                                <a href="#" class="addtocart2"> ADD TO CART</a>
                                <span>Flower Copper Bottle</span>
                                <span class="primary-color">$119.00</span>
                            </div><!-- /.iconbox-content -->
                        </div><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-product-item -->
                    <div class="single-product-item">
                        <div class="rt-single-icon-box icon-center main-product">
                            <a class="icon-thumb" href="#">
                                <img src="assets/images/all-img/p-3.png" alt="" class="front-image">
                                <img src="assets/images/all-img/pc-1.png" alt="" class="back-image">
                            </a><!-- /.icon-thumb -->
                            <div class="iconbox-content  d-flex justify-content-between">
                                <a href="#" class="addtocart2"> ADD TO CART</a>
                                <span>Love Dream Hope Pillow</span>
                                <span><span class="text-success">$119.00</span> <del>$140.00</del></span>
                            </div><!-- /.iconbox-content -->
                        </div><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-product-item -->
                    <div class="single-product-item">
                        <div class="rt-single-icon-box icon-center main-product">
                            <a class="icon-thumb" href="#">
                                <img src="assets/images/all-img/p-4.png" alt="" class="front-image">
                                <img src="assets/images/all-img/pc-1.png" alt="" class="back-image">
                            </a><!-- /.icon-thumb -->
                            <div class="iconbox-content d-flex justify-content-between">
                                <a href="#" class="addtocart2"> ADD TO CART</a>
                                <span>Our best seling products</span>
                                <span class="primary-color">$119.00</span>
                            </div><!-- /.iconbox-content -->
                        </div><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-product-item -->
                    <div class="single-product-item">
                        <div class="rt-single-icon-box icon-center main-product">
                            <a class="icon-thumb" href="#">
                                <img src="assets/images/all-img/p-1.png" alt="" class="front-image">
                                <img src="assets/images/all-img/pc-1.png" alt="" class="back-image">
                            </a><!-- /.icon-thumb -->
                            <div class="iconbox-content d-flex justify-content-between">
                                <a href="#" class="addtocart2"> ADD TO CART</a>
                                <span>Our best seling products</span>
                                <span class="primary-color">$119.00</span>
                            </div><!-- /.iconbox-content -->
                        </div><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-product-item -->
                    <div class="single-product-item">
                        <div class="rt-single-icon-box icon-center main-product">
                            <a class="icon-thumb" href="#">
                                <img src="assets/images/all-img/p-2.png" alt="" class="front-image">
                                <img src="assets/images/all-img/pc-1.png" alt="" class="back-image">
                            </a><!-- /.icon-thumb -->
                            <div class="iconbox-content  d-flex justify-content-between">
                                <a href="#" class="addtocart2"> ADD TO CART</a>
                                <span>Flower Copper Bottle</span>
                                <span class="primary-color">$119.00</span>
                            </div><!-- /.iconbox-content -->
                        </div><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-product-item -->
                    <div class="single-product-item">
                        <div class="rt-single-icon-box icon-center main-product">
                            <a class="icon-thumb" href="#">
                                <img src="assets/images/all-img/p-3.png" alt="" class="front-image">
                                <img src="assets/images/all-img/pc-1.png" alt="" class="back-image">
                            </a><!-- /.icon-thumb -->
                            <div class="iconbox-content  d-flex justify-content-between">
                                <a href="#" class="addtocart2"> ADD TO CART</a>
                                <span>Love Dream Hope Pillow</span>
                                <span><span class="text-success">$119.00</span> <del>$140.00</del></span>
                            </div><!-- /.iconbox-content -->
                        </div><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-product-item -->
                    <div class="single-product-item">
                        <div class="rt-single-icon-box icon-center main-product">
                            <a class="icon-thumb" href="#">
                                <img src="assets/images/all-img/p-4.png" alt="" class="front-image">
                                <img src="assets/images/all-img/pc-1.png" alt="" class="back-image">
                            </a><!-- /.icon-thumb -->
                            <div class="iconbox-content d-flex justify-content-between">
                                <a href="#" class="addtocart2"> ADD TO CART</a>
                                <span>Our best seling products</span>
                                <span class="primary-color">$119.00</span>
                            </div><!-- /.iconbox-content -->
                        </div><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-product-item -->
                    <div class="single-product-item">
                        <div class="rt-single-icon-box icon-center main-product">
                            <a class="icon-thumb" href="#">
                                <img src="assets/images/all-img/p-1.png" alt="" class="front-image">
                                <img src="assets/images/all-img/pc-1.png" alt="" class="back-image">
                            </a><!-- /.icon-thumb -->
                            <div class="iconbox-content d-flex justify-content-between">
                                <a href="#" class="addtocart2"> ADD TO CART</a>
                                <span>Our best seling products</span>
                                <span class="primary-color">$119.00</span>
                            </div><!-- /.iconbox-content -->
                        </div><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-product-item -->
                </div><!-- /.catagory-active -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.rt-container -->
</section><!-- /.arival-product -->