<section class="categories-product rt-pt-80">
    <div class="rt-container">
        <div class="row">
            <div class="col-12">
                <h2 class="rt-section-title">Categories</h2>
                <div class="rt-spacer-20"></div><!-- /.rt-space-30 -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
        <div class="row grid">
            <div class="col-lg-4 grid-item col-md-6 rt-mb-30">
                <a class="rt-single-icon-box cata-product icon-center" href="#">
                    <div class="icon-thumb">
                        <img src="assets/images/all-img/cp-1.png" alt="">
                    </div><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <h3>Lamp Lights</h3>
                       <span>15 Iteam</span>
                    </div><!-- /.iconbox-content -->
                </a><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 grid-item col-md-6 rt-mb-30">
                <a class="rt-single-icon-box cata-product icon-center" href="#">
                    <div class="icon-thumb">
                        <img src="assets/images/all-img/cp-2.png" alt="">
                    </div><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <h3>Lamp Lights</h3>
                       <span>15 Iteam</span>
                    </div><!-- /.iconbox-content -->
                </a><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 grid-item col-md-6 rt-mb-30">
                <a class="rt-single-icon-box cata-product icon-center" href="#">
                    <div class="icon-thumb">
                        <img src="assets/images/all-img/cp-3.png" alt="">
                    </div><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <h3>Lamp Lights</h3>
                       <span>15 Iteam</span>
                    </div><!-- /.iconbox-content -->
                </a><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 grid-item col-md-6 rt-mb-30">
                <a class="rt-single-icon-box cata-product icon-center" href="#">
                    <div class="icon-thumb">
                        <img src="assets/images/all-img/cp-5.png" alt="">
                    </div><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <h3>Lamp Lights</h3>
                       <span>15 Iteam</span>
                    </div><!-- /.iconbox-content -->
                </a><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 grid-item col-md-6 rt-mb-30">
                <a class="rt-single-icon-box cata-product icon-center" href="#">
                    <div class="icon-thumb">
                        <img src="assets/images/all-img/cp-6.png" alt="">
                    </div><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <h3>Lamp Lights</h3>
                       <span>15 Iteam</span>
                    </div><!-- /.iconbox-content -->
                </a><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 grid-item col-md-6 rt-mb-30">
                <a class="rt-single-icon-box cata-product icon-center" href="#">
                    <div class="icon-thumb">
                        <img src="assets/images/all-img/cp-4.png" alt="">
                    </div><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <h3>Lamp Lights</h3>
                       <span>15 Iteam</span>
                    </div><!-- /.iconbox-content -->
                </a><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.rt-container -->
</section><!-- /.categories-product -->