<section class="categories-product  bg-color-1">
    <div class="rt-spacer-60"></div><!-- /.rt-spacer-60 -->
    <div class="rt-container">
        <div class="row align-content-center">
            <div class="col-12">
                <h2 class="rt-section-title font-circular">Categories</h2>
                <div class="rt-spacer-20"></div><!-- /.rt-space-30 -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="catagory-active">
                    <div class="single-catagory-item">
                        <a class="rt-single-icon-box cata-product2 icon-center" href="#">
                            <div class="icon-thumb">
                                <img src="assets/images/all-img/cp-7.png" alt="">
                            </div><!-- /.icon-thumb -->
                            <div class="iconbox-content clearfix">
                                <h4 class="float-left">Lamp Lights</h4>
                                <h6 class="float-right">From <span>$59.00</span></h6>
                            </div><!-- /.iconbox-content -->
                        </a><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-catagory-item -->
                    <div class="single-catagory-item">
                        <a class="rt-single-icon-box cata-product2 icon-center" href="#">
                            <div class="icon-thumb">
                                <img src="assets/images/all-img/cp-8.png" alt="">
                            </div><!-- /.icon-thumb -->
                            <div class="iconbox-content clearfix">
                                <h4 class="float-left">Lamp Lights</h4>
                                <h6 class="float-right">From <span>$59.00</span></h6>
                            </div><!-- /.iconbox-content -->
                        </a><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-catagory-item -->
                    <div class="single-catagory-item">
                        <a class="rt-single-icon-box cata-product2 icon-center" href="#">
                            <div class="icon-thumb">
                                <img src="assets/images/all-img/cp-9.png" alt="">
                            </div><!-- /.icon-thumb -->
                            <div class="iconbox-content clearfix">
                                <h4 class="float-left">Lamp Lights</h4>
                                <h6 class="float-right">From <span>$59.00</span></h6>
                            </div><!-- /.iconbox-content -->
                        </a><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-catagory-item -->
                    <div class="single-catagory-item">
                        <a class="rt-single-icon-box cata-product2 icon-center" href="#">
                            <div class="icon-thumb">
                                <img src="assets/images/all-img/cp-10.png" alt="">
                            </div><!-- /.icon-thumb -->
                            <div class="iconbox-content clearfix">
                                <h4 class="float-left">Lamp Lights</h4>
                                <h6 class="float-right">From <span>$59.00</span></h6>
                            </div><!-- /.iconbox-content -->
                        </a><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-catagory-item -->
                    <div class="single-catagory-item">
                        <a class="rt-single-icon-box cata-product2 icon-center" href="#">
                            <div class="icon-thumb">
                                <img src="assets/images/all-img/cp-7.png" alt="">
                            </div><!-- /.icon-thumb -->
                            <div class="iconbox-content clearfix">
                                <h4 class="float-left">Lamp Lights</h4>
                                <h6 class="float-right">From <span>$59.00</span></h6>
                            </div><!-- /.iconbox-content -->
                        </a><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-catagory-item -->
                    <div class="single-catagory-item">
                        <a class="rt-single-icon-box cata-product2 icon-center" href="#">
                            <div class="icon-thumb">
                                <img src="assets/images/all-img/cp-7.png" alt="">
                            </div><!-- /.icon-thumb -->
                            <div class="iconbox-content clearfix">
                                <h4 class="float-left">Lamp Lights</h4>
                                <h6 class="float-right">From <span>$59.00</span></h6>
                            </div><!-- /.iconbox-content -->
                        </a><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-catagory-item -->
                    <div class="single-catagory-item">
                        <a class="rt-single-icon-box cata-product2 icon-center" href="#">
                            <div class="icon-thumb">
                                <img src="assets/images/all-img/cp-7.png" alt="">
                            </div><!-- /.icon-thumb -->
                            <div class="iconbox-content clearfix">
                                <h4 class="float-left">Lamp Lights</h4>
                                <h6 class="float-right">From <span>$59.00</span></h6>
                            </div><!-- /.iconbox-content -->
                        </a><!-- /.rt-single-icon-box -->
                    </div><!-- /.single-catagory-item -->
                </div><!-- /.catagory-active -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.rt-container -->
    <div class="rt-spacer-60"></div><!-- /.rt-spacer-60 -->
</section><!-- /.categories-product -->