<!-- chair start -->
<section class="chair-area rt-pt-70">
    <div class="rt-container">
        <div class="row">
            <div class="col-lg-6 rt-mb-30">
                <div class="rt-single-icon-box chairbox icon-center" style="background-image: url(assets/images/all-img/cta-1.png);">
                    <div class="iconbox-content">
                        <h4>Stylish Chair</h4>
                        <p>The first thing you need to do is sit down <br> and set your goals.</p>
                        <div class="rt-spacer-10"></div><!-- /.rt-spacer-10 -->
                        <p>
                            <a href="#" class="rt-btn rt-primary multipule-color-strep">Shop Now</a>
                        </p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-md-6 -->
            <div class="col-lg-6 rt-mb-30">
                <div class="rt-single-icon-box chairbox icon-center" style="background-image: url(assets/images/all-img/cta-4.png);">
                    <div class="iconbox-content">
                        <h4>Stylish Chair</h4>
                        <p>The first thing you need to do is sit down <br> and set your goals.</p>
                        <div class="rt-spacer-10"></div><!-- /.rt-spacer-10 -->
                        <p>
                            <a href="#" class="rt-btn rt-primary multipule-color-strep">Shop Now</a>
                        </p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.rt-container -->
</section><!-- /.chair-area -->