<!-- feature area start -->
<section class="feature-area">
    <div class="rt-container">
        <div class="row">
            <div class="col-md-6">
                <div class="rt-single-icon-box icon-center featre-product">
                    <div class="icon-thumb"><img src="assets/images/all-img/fp-1.png" alt=""></div><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <div class="badge-1">New</div><!-- /.badge-1 -->
                        <h4><a href="#">Wall Decors</a></h4>
                        <p>New Collection Arrivals</p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="rt-single-icon-box icon-center featre-product">
                    <div class="icon-thumb"><img src="assets/images/all-img/fp-2.png" alt=""></div><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <div class="badge-2">50%</div><!-- /.badge-2 -->
                        <h4><a href="#">Wall Decors</a></h4>
                        <p>New Collection Arrivals</p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.rt-container -->
</section><!-- /.feature-area -->