<!-- feature area start -->
<section class="feature-area">
    <div class="rt-container">
        <div class="row">
            <div class="col-md-6">
                <div class="rt-single-icon-box">
                    <div class="icon-thumb"></div><!-- /.icon-thumb -->
                    <div class="iconbox-content"></div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="rt-single-icon-box">
                    <div class="icon-thumb"></div><!-- /.icon-thumb -->
                    <div class="iconbox-content"></div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.rt-container -->
</section><!-- /.feature-area -->