<section class="filter-productarea">
    <div class="rt-container">
        <div class="row">
            <div class="col-lg-4"> <h2 class="rt-section-title">Feature Product</h2></div><!-- /.col-lg-4 -->
            <div class="col-lg-8">
                <ul class="filter-list nav_style_3 hide-on-mbl">
                    <li data-filter="*" class="active">All</li>
                    <li data-filter=".cat-1">Home Accents</li>
                    <li data-filter=".cat-2">Lighting</li>
                    <li data-filter=".cat-3">Pillows & Throws</li>
                    <li data-filter=".cat-4">Wall Décor</li>
                </ul>
                <div class="mobile-filter">
                    <span class="filter-click">Filter</span>
                    <ul class="filter-list">
                        <li data-filter="*" class="active">All</li>
                        <li data-filter=".cat-1">Top 20</li>
                        <li data-filter=".cat-2">Best seller</li>
                        <li data-filter=".cat-3">most popular</li>
                        <li data-filter=".cat-4">best rated</li>
                    </ul>
                </div><!-- /.mobile-filter -->                                                      
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
        <div class="rt-spacer-20"></div><!-- /.rt-space-30 -->
        <div class="row grid">
            <div class="col-lg-3 col-md-6 rt-mb-30 grid-item cat-1">
                <div class="rt-single-icon-box icon-center main-product">
                    <a class="icon-thumb" href="#">
                        <img src="assets/images/all-img/p-1.png" alt="" class="front-image">
                        <img src="assets/images/all-img/pc-1.png" alt="" class="back-image">
                    </a><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <a href="#" class="addtocart">+ ADD TO CART</a>
                        <h4><a href="#">Flower Copper Bottle</a></h4>
                        <p><span class="primary-color">$119.00</span></p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-3 col-md-6 -->
            <div class="col-lg-3 col-md-6 rt-mb-30 grid-item cat-2 cat-3 cat-1">
                <div class="rt-single-icon-box icon-center main-product">
                    <a class="icon-thumb" href="#">
                        <div class="badge-2">50%</div><!-- /.badge-1 -->
                        <img src="assets/images/all-img/p-2.png" alt="" class="front-image">
                        <img src="assets/images/all-img/pc-1.png" alt="" class="back-image">
                    </a><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <a href="#" class="addtocart">+ ADD TO CART</a>
                        <h4><a href="#">Flower Copper Bottle</a></h4>
                        <p><span class="primary-color">$119.00</span></p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-3 col-md-6 -->
            <div class="col-lg-3 col-md-6 rt-mb-30 grid-item cat-4 cta-3">
                <div class="rt-single-icon-box icon-center main-product">
                    <a class="icon-thumb" href="#">
                        <img src="assets/images/all-img/p-3.png" alt="" class="front-image">
                    </a><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <a href="#" class="addtocart">+ ADD TO CART</a>
                        <h4><a href="#">Flower Copper Bottle</a></h4>
                        <p><span class="primary-color">$119.00</span></p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-3 col-md-6 -->
            <div class="col-lg-3 col-md-6 rt-mb-30 grid-item cat-1 cat-4">
                <div class="rt-single-icon-box icon-center main-product">
                    <a class="icon-thumb" href="#">
                        <div class="badge-1">new</div><!-- /.badge-1 -->
                        <img src="assets/images/all-img/p-4.png" alt="" class="front-image">
                    </a><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <a href="#" class="addtocart">+ ADD TO CART</a>
                        <h4><a href="#">Flower Copper Bottle</a></h4>
                        <p><span class="primary-color">$119.00</span></p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-3 col-md-6 -->
            <div class="col-lg-3 col-md-6 rt-mb-30 grid-item cat-1">
                <div class="rt-single-icon-box icon-center main-product">
                    <a class="icon-thumb" href="#">
                        <img src="assets/images/all-img/p-1.png" alt="" class="front-image">
                        <img src="assets/images/all-img/pc-1.png" alt="" class="back-image">
                    </a><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <a href="#" class="addtocart">+ ADD TO CART</a>
                        <h4><a href="#">Flower Copper Bottle</a></h4>
                        <p><span class="primary-color">$119.00</span></p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-3 col-md-6 -->
            <div class="col-lg-3 col-md-6 rt-mb-30 grid-item cat-2 cat-3 cat-1">
                <div class="rt-single-icon-box icon-center main-product">
                    <a class="icon-thumb" href="#">
                        <div class="badge-1">new</div><!-- /.badge-1 -->
                        <img src="assets/images/all-img/p-2.png" alt="" class="front-image">
                        <img src="assets/images/all-img/pc-1.png" alt="" class="back-image">
                    </a><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <a href="#" class="addtocart">+ ADD TO CART</a>
                        <h4><a href="#">Flower Copper Bottle</a></h4>
                        <p><span class="primary-color">$119.00</span></p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-3 col-md-6 -->
            <div class="col-lg-3 col-md-6 rt-mb-30 grid-item cat-4 cta-3">
                <div class="rt-single-icon-box icon-center main-product">
                    <a class="icon-thumb" href="#">
                        <img src="assets/images/all-img/p-3.png" alt="" class="front-image">
                    </a><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <a href="#" class="addtocart">+ ADD TO CART</a>
                        <h4><a href="#">Flower Copper Bottle</a></h4>
                        <p><span class="primary-color">$119.00</span></p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-3 col-md-6 -->
            <div class="col-lg-3 col-md-6 rt-mb-30 grid-item cat-1 cat-4">
                <div class="rt-single-icon-box icon-center main-product">
                    <a class="icon-thumb" href="#">
                        <div class="badge-2">50%</div><!-- /.badge-1 -->
                        <img src="assets/images/all-img/p-4.png" alt="" class="front-image">
                    </a><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <a href="#" class="addtocart">+ ADD TO CART</a>
                        <h4><a href="#">Flower Copper Bottle</a></h4>
                        <p><span class="primary-color">$119.00</span></p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-3 col-md-6 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-12 text-center">
                <a href="#" class="rt-btn rt-gray text-capitalize rt-sm pill">View More
                    <span class="btn-revel-effects"></span>
                </a>
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.rt-container -->
</section><!-- /.filter-productarea -->