#accordion {
  margin-top: 30px;

  .card-header.card-primary {
    background: transparent;
    padding: 0px;
    border: none;
    position: relative;
    z-index: 4;
  }

  .card {
    margin-bottom: 15px;
    border-color: transparent;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .card-body {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 3;
    color: #333;
    top: -40px;
    border: none;
    transition: all 0.24s ease-in-out;
    line-height: 24px;
    box-shadow: 0px 0px 10px 0px rgba(51, 55, 69, 0.2);
    background-color: #fff;
    border-radius: 30px;
  }
}

.card .card-header.card-primary button {
  &[aria-expanded="false"] {
    position: relative;
    display: block;
    text-align: left;
    background: #fff;
    padding: 10px 26px;
    border-radius: 0px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    box-shadow: 0px 0px 10px 0px rgba(51, 55, 69, 0.2);
    border-radius: 999px;
    font-weight: 500;
    font-family: "Circular Std";
  }

  &[aria-expanded="true"] {
    position: relative;
    display: block;
    text-align: left;
    background: #fff;
    padding: 10px 26px;
    border-radius: 0px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    box-shadow: 0px 0px 10px 0px rgba(51, 55, 69, 0.2);
    border-radius: 999px;
    font-weight: 500;
    font-family: "Circular Std";
    background: #fff;
    color: #333;
  }

  &[aria-expanded="false"]:before {
    position: absolute;
    right: 15px;
    content: '\eab2';
    font-family: 'icofont' !important;
    font-size: 18px;
    color: #000;
    top: 50%;
    transform: translateY(-50%);
  }

  &[aria-expanded="true"]:before {
    position: absolute;
    right: 15px;
    content: '\eab9';
    font-family: 'icofont' !important;
    color: #f0a736;
    font-size: 18px;
    color: #000;
    top: 50%;
    transform: translateY(-50%);
  }

  display: block;
  width: 100%;
  border: none;

  &:after, &:hover:after {
    border-radius: 5px;
  }
}