<!-- banner area start -->
<section class="rt-banner-area">
    <div class="single-rt-banner rt-banner-height">
        <div class="container">
            <div class="row  rt-banner-height align-items-center">
                <div class="col-lg-6">
                    <div class="rt-banner-content">
                        <h1>Simplest way  to build tools</h1>
                        <p>Quality control of your data including read length distribution and uniformity assessment</p>
                        <a href="#" class="rt-btn rt-primary pill text-uppercase">Get Started Now</a>
                    </div><!-- end banner content -->
                </div><!-- end column -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end single rt banner -->
</section>