<!-- banner area start -->
<section class="rt-banner-area">
    <div class="rt-slider-active dot-1 prevnext-1">
        <div class="single-rt-banner rt-banner-height rtbgprefix-cover" style="background-image: url(assets/images/slider/bg-1.jpg);">
            <span class="numbercount"></span>
            <div class="container-fluid">
                <div class="row  rt-banner-height align-items-center">
                    <div class="col-lg-5">
                        <div class="rt-banner-content">
                            <h1 class="cssanimation sequence animated" data-animation-in=" rtleFadeInLeft"> We Make Your Home Better</h1>
                            <p class="animated" data-animation-in="fadeInUp" data-duration-in="1s">Lorem ipsum dolor sit amet, consectetur adipis cing elit. </p>
                            <p class="animated rt-mt-86" data-animation-in="fadeInDown" data-duration-in="1s" >
                                <a href="#" class="rt-btn rt-primary multipule-color-strep pill text-uppercase">Discover</a>
                            </p>
                        </div><!-- end banner content -->
                    </div><!-- end column -->
                </div><!-- end row -->
            </div><!-- end container -->
            <div class="product-image"><img src="assets/images/slider/p-1.png" alt=""></div><!-- /.product-image -->
        </div><!-- end single rt banner -->
        <div class="single-rt-banner rt-banner-height rtbgprefix-cover" style="background-image: url(assets/images/slider/bg-1.jpg);">
            <span class="numbercount"></span>
            <div class="container-fluid">
                <div class="row  rt-banner-height align-items-center">
                    <div class="col-lg-5">
                        <div class="rt-banner-content">
                            <h1 class="cssanimation sequence animated" data-animation-in=" rtleFadeInLeft"> We Make Your Home Better</h1>
                            <p class="animated" data-animation-in="fadeInUp" data-duration-in="1s">Lorem ipsum dolor sit amet, consectetur adipis cing elit. </p>
                            <p class="animated rt-mt-86" data-animation-in="fadeInDown" data-duration-in="1s" >
                                <a href="#" class="rt-btn rt-primary multipule-color-strep pill text-uppercase">Discover</a>
                            </p>
                        </div><!-- end banner content -->
                    </div><!-- end column -->
                </div><!-- end row -->
            </div><!-- end container -->
            <div class="product-image"><img src="assets/images/slider/p-1.png" alt=""></div><!-- /.product-image -->
        </div><!-- end single rt banner -->
    </div><!-- /.rt-slider-active -->
</section>