<!-- banner area start -->
<section class="rt-banner-area home-two">
    <div class="rt-slider-active dot-2 prevnext-2">
        <div class="single-rt-banner rt-banner-height2 rtbgprefix-cover" style="background-image: url(assets/images/slider/bg-2.jpg);">
            <div class="rt-container">
                <div class="row  rt-banner-height2 align-items-center">
                    <div class="col-lg-6">
                        <div class="rt-banner-content">
                            <h1 > <em class="cssanimation sequence animated" data-animation-in=" rtleFadeInLeft">We Make Your </em><em class="cssanimation sequence animated" data-animation-in=" rtleFadeInLeft">Home Better</em></h1>
                            <p class="animated" data-animation-in="fadeInUp" data-duration-in="1s">Lorem ipsum dolor  amet, consectetur adipiscing elit. </p>
                            <p class="animated " data-animation-in="fadeInDown" data-duration-in="1s" >
                                <a href="#" class="rt-btn rt-outline-light multipule-color-strep  text-uppercase">Discover</a>
                            </p>
                        </div><!-- end banner content -->
                    </div><!-- end column -->
                    <div class="product-image2">
                        <img src="assets/images/slider/p-2.png" alt="">
                        <span class="numbercount2"></span>
                    </div><!-- /.product-image -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end single rt banner -->
        <div class="single-rt-banner rt-banner-height2 rtbgprefix-cover" style="background-image: url(assets/images/slider/bg-2.jpg);">
            <div class="rt-container">
                <div class="row  rt-banner-height2 align-items-center">
                    <div class="col-lg-6">
                        <div class="rt-banner-content">
                            <h1 > <em class="cssanimation sequence animated" data-animation-in=" rtleFadeInLeft">We Make Your </em><em class="cssanimation sequence animated" data-animation-in=" rtleFadeInLeft">Home Better</em></h1>
                            <p class="animated" data-animation-in="fadeInUp" data-duration-in="1s">Lorem ipsum dolor  amet, consectetur adipiscing elit. </p>
                            <p class="animated " data-animation-in="fadeInDown" data-duration-in="1s" >
                                <a href="#" class="rt-btn rt-outline-light multipule-color-strep  text-uppercase">Discover</a>
                            </p>
                        </div><!-- end banner content -->
                    </div><!-- end column -->
                    <div class="product-image2">
                        <img src="assets/images/slider/p-2.png" alt="">
                        <span class="numbercount2"></span>
                    </div><!-- /.product-image -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end single rt banner -->
    </div><!-- /.rt-slider-active -->
</section>