<!-- about area start -->
<section class="about-area rt-pt-100">
    <div class="rt-container">
        <div class="row align-items-center">
            <div class="col-lg-6 rt-mb-30">
                <img src="assets/images/all-img/abt.png" alt="">
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-5 offset-lg-1 rt-mb-30">
                <h2 class="rt-section-title font-circular">Hebes Wood Book</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat 
                    bibendum maximus. Curabitur egestas tellus eget volutpat tincidunt. 
                    Praesent fermentum massa nisi,
                </p>
                <p class="rt-pt-10">
                    <a href="#" class="rt-btn rt-outline-gray">Shop Now <span class="btn-revel-effects"></span></a>
                </p>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.rt-container -->
</section><!-- /.about-area -->

<section class="about-area2 rt-pt-70">
    <div class="rt-container">
        <div class="row align-items-center">
            <div class="col-lg-5 rt-mb-30 ">
                <h2 class="rt-section-title font-circular">
                    <span class="top">NEW COLLECTION</span>
                    Caffee Chair
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat
                    bibendum maximus. Curabitur 
                </p>
                <p class="rt-pt-10">
                    <a href="#" class="rt-btn rt-outline-gray">Shop Now <span class="btn-revel-effects"></span></a>
                </p>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6 rt-mb-30 offset-lg-1">
                <img src="assets/images/all-img/abt2.png" alt="">
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.rt-container -->
</section><!-- /.about-area -->