<section class="home-blog-area rt-pt-100">
    <div class="rt-container">
        <div class="row">
            <div class="col-12">
                <h2 class="rt-section-title font-circular">Latest Article</h2>
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
        <div class="rt-spacer-20"></div><!-- /.rt-spacer-30 -->
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto rt-mb-30">
                <article class="single-home-blog">
                    <div class="rt-post-thumbnail">
                        <a href="#"><img src="assets/images/all-img/blg-1.png" alt=""></a>
                    </div>
                    <div class="entry-content">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <span><a href="#">Inspiration</a></span>
                                <span><a href="#">16 Jan 20</a></span>
                            </div><!-- /.entry-meta -->
                            <h2 class="entry-title">
                                <a href="#">The first thing you need to do is sit down 
                                    and set your goals.</a>
                            </h2>
                        </header><!-- .end entry header -->
                    </div>
                </article><!-- end article -->
            </div><!-- /.col-lg-4 col-md-6 mx-auto rt-mb-30 -->
            <div class="col-lg-4 col-md-6 mx-auto rt-mb-30">
                <article class="single-home-blog ">
                    <div class="rt-post-thumbnail">
                        <a href="#"><img src="assets/images/all-img/blg-2.png" alt=""></a>
                    </div>
                    <div class="entry-content">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <span><a href="#">Inspiration</a></span>
                                <span><a href="#">16 Jan 20</a></span>
                            </div><!-- /.entry-meta -->
                            <h2 class="entry-title">
                                <a href="#">The first thing you need to do is sit down 
                                    and set your goals.</a>
                            </h2>
                        </header><!-- .end entry header -->
                    </div>
                </article><!-- end article -->
            </div><!-- /.col-lg-4 col-md-6 mx-auto rt-mb-30 -->
            <div class="col-lg-4 col-md-6 mx-auto rt-mb-30">
                <article class="single-home-blog ">
                    <div class="rt-post-thumbnail"><a href="#"><img src="assets/images/all-img/blg-3.png" alt=""></a>
                    </div>
                    <div class="entry-content">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <span><a href="#">Inspiration</a></span>
                                <span><a href="#">16 Jan 20</a></span>
                            </div><!-- /.entry-meta -->
                            <h2 class="entry-title">
                                <a href="#">The first thing you need to do is sit down 
                                    and set your goals.</a>
                            </h2>
                        </header><!-- .end entry header -->
                    </div>
                </article><!-- end article -->
            </div><!-- /.col-lg-4 col-md-6 mx-auto rt-mb-30 -->
        </div><!-- /.row -->
    </div><!-- /.rt-container -->
</section><!-- /.home-blog-area -->