<div class="brands-area rt-mb-100 rt-pt-70">
    <div class="rt-container">
        <div class="col-12">
            <div class="brands-active">
                <div class="single-brands"><img src="assets/images/all-img/brands-1.png" alt=""></div><!-- /.single-brands -->
                <div class="single-brands"><img src="assets/images/all-img/brands-2.png" alt=""></div><!-- /.single-brands -->
                <div class="single-brands"><img src="assets/images/all-img/brands-3.png" alt=""></div><!-- /.single-brands -->
                <div class="single-brands"><img src="assets/images/all-img/brands-4.png" alt=""></div><!-- /.single-brands -->
                <div class="single-brands"><img src="assets/images/all-img/brands-5.png" alt=""></div><!-- /.single-brands -->
                <div class="single-brands"><img src="assets/images/all-img/brands-6.png" alt=""></div><!-- /.single-brands -->
                <div class="single-brands"><img src="assets/images/all-img/brands-1.png" alt=""></div><!-- /.single-brands -->
                <div class="single-brands"><img src="assets/images/all-img/brands-2.png" alt=""></div><!-- /.single-brands -->
                <div class="single-brands"><img src="assets/images/all-img/brands-3.png" alt=""></div><!-- /.single-brands -->
            </div><!-- /.brands-active -->
        </div><!-- /.col-12 -->
    </div><!-- /.rt-container -->
</div><!-- /.brands-area -->