<section class="call-to-action">
    <div class="rt-container">
        <div class="row">
            <div class="col-12">
                <div class="cta-inner">
                    <div class="cta-logo"><img src="assets/images/all-img/cta-2.png" alt=""></div><!-- /.cta-logo -->
                    <div class="row">
                        <div class="col-md-4 align-self-end">
                            <h4>Upcoming <br> Collections</h4>
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-4 align-self-center">
                            <img src="assets/images/all-img/cta-image.png" alt="">
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-4 align-self-end text-center">
                            <a href="#" class="rt-btn text-capitalize pill rt-primary rt-sm">Discover</a>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                </div><!-- /.cta-inner -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.rt-container -->
</section><!-- /.call-to-action -->
