<!-- testimonial start -->
<section class="testimonial-area rt-pt-70">
    <div class="rt-container">
        <div class="row">
            <div class="col-12">
                <div class="testimonial-wrapper rtbgprefix-cover" style="background-image: url(assets/images/all-img/testi-bg.png);">
                    <div class="rt-spacer-100"></div><!-- /.rt-spacer-100 -->
                    <div class="testimonials-active">
                        <div class="siingle-item">
                            <div class="author-review">
                                <img src="assets/images/all-img/t1.png" alt="">
                                <h5>Rosa Johansen</h5>
                                <span class="d-block">Interior Designer</span>
                            </div><!-- /.author-review -->
                            <div class="inner-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Proin urna diam, rutrum in erat a, lacinia cursus 
                                    nisl. Curabitur et quam sit amet nulla vestibulum 
                                    suscipit. Suspendisse purus nibh, vehicula nec arcu 
                                    ut, laoreet laoreet nibh. Nam tristique quis nibh id 
                                    luctus. Suspendisse malesuada lectus eros,
                                </p>
                            </div><!-- /.inner-content -->
                        </div><!-- /.siingle-item -->
                        <div class="siingle-item">
                            <div class="author-review">
                                <img src="assets/images/all-img/t1.png" alt="">
                                <h5>Rosa Johansen</h5>
                                <span class="d-block">Interior Designer</span>
                            </div><!-- /.author-review -->
                            <div class="inner-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Proin urna diam, rutrum in erat a, lacinia cursus 
                                    nisl. Curabitur et quam sit amet nulla vestibulum 
                                    suscipit. Suspendisse purus nibh, vehicula nec arcu 
                                    ut, laoreet laoreet nibh. Nam tristique quis nibh id 
                                    luctus. Suspendisse malesuada lectus eros,
                                </p>
                            </div><!-- /.inner-content -->
                        </div><!-- /.siingle-item -->
                        <div class="siingle-item">
                            <div class="author-review">
                                <img src="assets/images/all-img/t1.png" alt="">
                                <h5>Rosa Johansen</h5>
                                <span class="d-block">Interior Designer</span>
                            </div><!-- /.author-review -->
                            <div class="inner-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Proin urna diam, rutrum in erat a, lacinia cursus 
                                    nisl. Curabitur et quam sit amet nulla vestibulum 
                                    suscipit. Suspendisse purus nibh, vehicula nec arcu 
                                    ut, laoreet laoreet nibh. Nam tristique quis nibh id 
                                    luctus. Suspendisse malesuada lectus eros,
                                </p>
                            </div><!-- /.inner-content -->
                        </div><!-- /.siingle-item -->
                    </div><!-- /.testimonials-active -->
                    <div class="rt-spacer-100"></div><!-- /.rt-spacer-100 -->
                </div><!-- /.testimonial-wrapper -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.rt-container -->
</section><!-- /.testimonial-area -->