{% extends "layout.html" %}

{% block content %}

{% include "../templates/header-footer/header.html" %}

{% include "../templates/banner-slider/slider.html" %}

{% include "../templates/product/feature.html" %}

{% include "../templates/product/filter.html" %}

{% include "../templates/product/cata-1.html" %}

{% include "../templates/elements/brands.html" %}

{% include "../templates/elements/call-to-action.html" %}

{% include "../templates/elements/blog1.html" %}

{% include "../templates/header-footer/footer.html" %}

{% endblock %}