{% extends "layout.html" %}

{% block content %}

{% include "../templates/header-footer/header2.html" %}

{% include "../templates/banner-slider/slider2.html" %}

{% include "../templates/elements/abt.html" %}

{% include "../templates/product/cata-2.html" %}

{% include "../templates/product/filter2.html" %}

{% include "../templates/product/chair.html" %}

{% include "../templates/elements/testimonias.html" %}

{% include "../templates/product/arival-product.html" %}

{% include "../templates/elements/blog2.html" %}

{% include "../templates/elements/brands.html" %}

{% include "../templates/header-footer/footer2.html" %}

{% endblock %}