


.open-offcanvasmenu {
  cursor: pointer;

  span {
    display: block;
    background: #fff;
    width: 23px;
    margin-bottom: 5px;
    height: 2px;
    margin-left: auto;
    transition: all 0.12s ease-in-out;
    &:nth-child(1) {
      width: 15px;
    }

    &:nth-child(3) {
      width: 10px;
    }
  }

  &:hover span {
    background: $primary-color;
  }
}
.offcanvas-menu{
  height: calc(100% - 240px);
}

.rt-sidnav {
  position: fixed;
  right: -385px;
  top: 0;
  background-color: #fff;
  width: 385px;
  z-index: -1;
  height: 100%;
  padding: 30px;
  box-shadow: 0px 24px 35px 0px rgba(153, 153, 153, 0.15);
  transition: all 0.4s ease-in-out;
  @include hidden();

  &.active {
    right: 0;
    z-index: 999;
    @include vis();
  }
  .sidenav-close{
    @extend .mblnav-close;
  }
  @include breakpoint(xs){
    width: 320px;
  }

}



.page-content {
  position: relative;
  left: 0;
  perspective: 1000;
  transition: transform 0.5s;
  height: 100%;
}

.rt-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
  @include hidden();
  transition: all 0.4s ease-in-out;

  &.active {
    z-index: 99;
    @include vis();
  }
}

.fixed-social {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  z-index: 67;
  margin-top: 50px;
  padding-bottom: 30px;
  width: 100%;
  ul{
    li{
      a{
        display: block;
        margin: 0 5px;
        color: $body-font-colr;
        &:hover{
          color: $secondary-color;
        }
      }
    }
  }
}

.rt-gloabl-mobile-nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  width: 35vw;
  z-index: -1;
  height: 100%;
  padding: 30px;
  box-shadow: 0px 24px 35px 0px rgba(153, 153, 153, 0.15);
  transition: all 0.7s cubic-bezier(0.2, 1, 0.3, 1);
  @include hidden();

  &.active-mobile-menu {
    @include vis();
    z-index: 99;
  }
}

@media only screen and (max-width: 990px) {
  .rt-gloabl-mobile-nav {
    width: 420px;
  }
}

@media only screen and (max-width: 640px) {
  .rt-gloabl-mobile-nav {
    width: 400px;
  }
}

@media only screen and (max-width: 479px) {
  .rt-gloabl-mobile-nav {
    width: calc(100vw - 60px);
  }
}

@media only screen and (max-width: 410px) {
  .rt-gloabl-mobile-nav {
    width: calc(100vw - 35px);
  }
}